/*Case rouge ===================================================*/

.case-rouge{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-rouge:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
    -fx-cursor: hand;
}
.case-rouge:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case verte ===================================================*/

.case-verte{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #2ba313 0%, #219012 100%),
        #409d24,
        #54d83a,
        radial-gradient(center 50% 50%, radius 100%, #54d83a, #57c52c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-verte:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #2ba313 0%, #219012 100%),
        #409d24,
        #54d83a,
        radial-gradient(center 50% 50%, radius 100%, #70ea4b, #57c52c);
    -fx-cursor: hand;
}
.case-verte:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case jaune ===================================================*/

.case-jaune{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a3a113 0%, #908e12 100%),
        #9d9b24,
        #d8cd3a,
        radial-gradient(center 50% 50%, radius 100%, #d8cd3a, #c5c32c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-jaune:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%,#a3a113 0%, #908e12 100%),
        #9d9b24,
        #d8cd3a,
        radial-gradient(center 50% 50%, radius 100%,#eae74b, #c5c32c);
    -fx-cursor: hand;
}
.case-jaune:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case orange ===================================================*/

.case-orange{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #bd7516 0%, #ad6c16 100%),
        #b66e2b,
        #e7903e,
        radial-gradient(center 50% 50%, radius 100%, #e7903e, #da822f);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-orange:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%,#bd7516 0%, #ad6c16 100%),
        #b66e2b,
        #e7903e,
        radial-gradient(center 50% 50%, radius 100%,#fd9f52, #da822f);
    -fx-cursor: hand;
}
.case-orange:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case bleue ===================================================*/

.case-bleue{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #1329a3 0%, #121a90 100%),
        #24369d,
        #3a45d8,
        radial-gradient(center 50% 50%, radius 100%, #3a45d8, #2c36c5);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-bleue:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #1329a3 0%, #121a90 100%),
        #24369d,
        #3a45d8,
        radial-gradient(center 50% 50%, radius 100%, #4b5bea, #2c36c5);
    -fx-cursor: hand
}
.case-bleue:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case rose ===================================================*/

.case-rose{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a31384 0%, #901266 100%),
        #9d247f,
        #d83aa9,
        radial-gradient(center 50% 50%, radius 100%, #d83aa9, #c52c97);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-rose:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a31384 0%, #901266 100%),
        #9d247f,
        #d83aa9,
        radial-gradient(center 50% 50%, radius 100%, #ea4bba, #c52c97);
    -fx-cursor: hand
}
.case-rose:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case standard ===================================================*/

.case-standard{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9e9e9e 0%, #858585 100%),
        #9b9b9b,
        #d6d6d6,
        radial-gradient(center 50% 50%, radius 100%, #d6d6d6, #c4c4c4);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.case-standard:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9e9e9e 0%, #858585 100%),
        #9b9b9b,
        #d6d6d6,
        radial-gradient(center 50% 50%, radius 100%, #ebebeb, #c4c4c4);
    -fx-cursor: hand
}
.case-standard:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case noire ===================================================*/

.case-noire{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #616161 0%, #4b4b4b 100%),
        #535353,
        #888888,
        radial-gradient(center 50% 50%, radius 100%, #888888, #747474);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-noire:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #616161 0%, #4b4b4b 100%),
        #535353,
        #888888,
        radial-gradient(center 50% 50%, radius 100%, #a1a1a1, #747474);
    -fx-cursor: hand
}
.case-noire:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case rouge Joueur===================================================*/

.case-rouge-joueur{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 40%, #000000, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-rouge-joueur:hover {
    -fx-cursor: hand;
}
.case-rouge-joueur:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 50%, #000000, #c54e2c);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case verte Joueur===================================================*/

.case-verte-joueur{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #2ba313 0%, #219012 100%),
        #409d24,
        #54d83a,
        radial-gradient(center 50% 50%, radius 40%, #000000, #57c52c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-verte-joueur:hover {
    -fx-cursor: hand;
}
.case-verte-joueur:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #2ba313 0%, #219012 100%),
        #409d24,
        #54d83a,
        radial-gradient(center 50% 50%, radius 50%, #000000, #57c52c);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case jaune Joueur===================================================*/

.case-jaune-joueur{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a3a113 0%, #908e12 100%),
        #9d9b24,
        #d8cd3a,
        radial-gradient(center 50% 50%, radius 40%, #000000, #c5c32c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-jaune-joueur:hover {
    -fx-cursor: hand;
}
.case-jaune-joueur:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%,#a3a113 0%, #908e12 100%),
        #9d9b24,
        #d8cd3a,
        radial-gradient(center 50% 50%, radius 50%,#000000, #c5c32c);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case orange Joueur===================================================*/

.case-orange-joueur{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #bd7516 0%, #ad6c16 100%),
        #b66e2b,
        #e7903e,
        radial-gradient(center 50% 50%, radius 40%, #000000, #da822f);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-orange-joueur:hover {
    -fx-cursor: hand;
}
.case-orange-joueur:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%,#bd7516 0%, #ad6c16 100%),
        #b66e2b,
        #e7903e,
        radial-gradient(center 50% 50%, radius 50%,#000000, #da822f);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case bleue Joueur===================================================*/

.case-bleue-joueur{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #1329a3 0%, #121a90 100%),
        #24369d,
        #3a45d8,
        radial-gradient(center 50% 50%, radius 40%, #000000, #2c36c5);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-bleue-joueur:hover {
    -fx-cursor: hand;
}
.case-bleue-joueur:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #1329a3 0%, #121a90 100%),
        #24369d,
        #3a45d8,
        radial-gradient(center 50% 50%, radius 50%, #000000, #2c36c5);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case rose Joueur===================================================*/

.case-rose-joueur{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a31384 0%, #901266 100%),
        #9d247f,
        #d83aa9,
        radial-gradient(center 50% 50%, radius 40%, #000000, #c52c97);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-rose-joueur:hover {
    -fx-cursor: hand;
}
.case-rose-joueur:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a31384 0%, #901266 100%),
        #9d247f,
        #d83aa9,
        radial-gradient(center 50% 50%, radius 50%, #000000, #c52c97);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Case standard Joueur===================================================*/

.case-standard-joueur{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9e9e9e 0%, #858585 100%),
        #9b9b9b,
        #d6d6d6,
        radial-gradient(center 50% 50%, radius 40%, #000000, #c4c4c4);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.case-standard-joueur:hover {
    -fx-cursor: hand;
}
.case-standard-joueur:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9e9e9e 0%, #858585 100%),
        #9b9b9b,
        #d6d6d6,
        radial-gradient(center 50% 50%, radius 50%, #000000, #c4c4c4);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
/*Roll Button ======================================================================*/

.roll-button{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-padding: 10 20 10 20;
}

.roll-button:hover{
    -fx-background-color: 
        linear-gradient(#ffd65b, #ff9100),
        linear-gradient(#ffef84, #ffc446),
        linear-gradient(#ffea6a, #ffb624),
        linear-gradient(#ffe657 0%, #f8c202 50%, #ffaf0e 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-cursor: hand;
}

/*Pause Button ===========================================================*/

.pause-button{
    -fx-background-color:
        linear-gradient(#949494, #686868),
        radial-gradient(center 50% 0%, radius 200%, #8f9289 45%, #6f706e 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.pause-button:hover{
    -fx-cursor: hand;
}

.pause-button:pressed{
    -fx-background-color:
        linear-gradient(#949494, #686868),
        radial-gradient(center 50% 15%, radius 200%, #8f9289 45%, #6f706e 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Pause Button2===================================================*/

.pause-button2{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #28306E 0%, #384398 100%),
        #303c95,
        #3643a3,
        radial-gradient(center 50% 50%, radius 40%, #3749d1, #3846b0);
    -fx-effect: dropshadow( gaussian , rgba(40,48,110,0.75) , 4,0,0,1 );
}

.pause-button2:hover {
    -fx-cursor: hand;
}
.pause-button2:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #28306E 0%, #384398 100%),
        #303c95,
        #3643a3,
        radial-gradient(center 50% 50%, radius 40%, #394eed, #3846b0);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Pause Button3===================================================*/

.pause-button3{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #F29100 0%, #cb7b02 100%),
        #b55903,
        #e67002,
        radial-gradient(center 50% 50%, radius 40%, #e88b01, #db6a00);
    -fx-effect: dropshadow( gaussian , rgba(40,48,110,0.75) , 4,0,0,1 );
}

.pause-button3:hover {
    -fx-cursor: hand;
}
.pause-button3:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #F29100 0%, #cb7b02 100%),
        #b55903,
        #e67002,
        radial-gradient(center 50% 50%, radius 40%, #ff9900, #db6a00);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Pause Buttons*/
/*Case standard ===================================================*/

.pause-buttons{
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9e9e9e 0%, #858585 100%),
        #9b9b9b,
        #d6d6d6,
        radial-gradient(center 50% 50%, radius 100%, #d6d6d6, #c4c4c4);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.pause-buttons:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9e9e9e 0%, #858585 100%),
        #9b9b9b,
        #d6d6d6,
        radial-gradient(center 50% 50%, radius 100%, #ebebeb, #c4c4c4);
    -fx-cursor: hand;
}
.pause-buttons:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*Image Buttons =====================================================================*/
.image-button:hover{
    -fx-cursor: hand;
    -fx-background-color: #eeeeee65;
    -fx-background-radius: 15;
}

/*Bg Page1*/
.bg_page1{
    -fx-background-image: url('../images/mountain_bg1.png');
}

/*Bg Page2*/
.bg_page2{
    -fx-background-image: url('../images/mountain_bg2.jpg');
}

/*Bg Page3*/
.bg_page3{
    -fx-background-image: url('../images/mountain_bg3.png');
}

/*Scroll Pane*/
.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }

 /*Player ShowCase*/
 .player-label{
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #F29100 0%, #cb7b02 100%),
        #b55903,
        #e67002,
        radial-gradient(center 50% 50%, radius 40%, #e88b01, #db6a00);
    -fx-effect: dropshadow( gaussian , rgba(40,48,110,0.75) , 4,0,0,1 );
}

.player-score{
    -fx-background-radius: 10;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #e2e2e2 0%, #bcbcbc 100%),
        #b0b0b0,
        #e7e7e7,
        radial-gradient(center 50% 50%, radius 40%, #f7f7f7, #e0e0e0);
}

/*Hightlighted Cases ==========================================================================*/
/*Case rouge ===================================================*/
.case-focus{
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-border-radius: 8;
}